In [ ]:
# Python Collections (Arrays)
# ===========================
# There are four collection data types in the Python programming language:
    # 1. List is a collection 
    #       which is ordered and changeable. 
    #        Allows duplicate members.
    # 2. Tuple is a collection 
    #        which is ordered and unchangeable. 
    #        Allows duplicate members.
    # 3. Set is a collection 
    #       which is unordered, unchangeable*, and unindexed. 
    #       No duplicate members.
    # 4. Dictionary is a collection 
    #       which is ordered** and changeable. 
    #       No duplicate members.

#========================================

# PYTHON SETS
# =============

In [ ]:
# A set is a collection 
    # which is unordered, 
    #         non duplicate 
    #         unchangeable*, and 
    #         unindexed.
    
#unchangable=> cant be modified, but remove and add can be done

myset = {"apple","orange","cherry"}
print(myset)#{'orange', 'cherry', 'apple'}
print(type(myset))#<class 'set'>

In [ ]:
# nonduplicate
myset = {"apple","orange","cherry", "apple", True, 1, 2}
print(myset)#{True, 2, 'orange', 'cherry', 'apple'}
#ob: duplicates have been discarded
#ob: True and 1 considered as same

In [ ]:
myset = {"apple","orange","cherry", "apple", True, 1, 2}
print(myset)#{True, 2, 'cherry', 'apple', 'orange'}
print(len(myset))#5

In [ ]:
#assigning to set
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set1 = {"abc", 34, True, 40, "male"}
#using constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets

In [ ]:
#accessing items from a set
set1 = {"apple", "banana", "cherry"}
for x in set1:
    print(x)

print("banana" in set1)#True

In [18]:
# add new item
set1 = {"apple", "banana", "cherry"}
set1.add("grapes")
print(set1)

{'grapes', 'cherry', 'apple', 'banana'}

In [19]:
#add another set
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "mango", "papaya"}
set1.update(set2)

print(set1)

{'pineapple', 'cherry', 'mango', 'apple', 'banana', 'papaya'}

In [20]:
#update method doesnt have to be set, it can be any iterable object
#using list
set1 = {"apple", "banana", "cherry"}
set2 = ["pineapple", "mango", "papaya"]
set1.update(set2)

print(set1)

{'pineapple', 'mango', 'apple', 'cherry', 'banana', 'papaya'}

In [24]:
#remove an item

#using remove method
set1 = {"apple", "banana", "cherry"}
set1.remove("apple")
print(set1)

#using discard method
set1 = {"apple", "banana", "cherry"}
set1.discard("apple")
print(set1)

#ob: discard and remove => both returns none
# ob: If the item to remove does not exist, 
#       discard() will NOT raise an error.


#using pop(): pop will remove ramdom item and return the item
set1 = {"apple", "banana", "cherry"}
item = set1.pop()
print(set1)
print(item)

{'cherry', 'banana'}
{'cherry', 'banana'}
{'apple', 'banana'}
cherry

In [27]:
#clear
set1 = {"apple", "banana", "cherry"}
set1.clear()
print(set1)#set()


#delete
set1 = {"apple", "banana", "cherry"}
del set1
# print(set1)#error set1 is not defined

set()

In [29]:
#joining two sets

#using union()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 =set1.union(set2)
print(set3)#{'c', 1, 2, 3, 'b', 'a'}


#using update()
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)#{'c', 1, 2, 3, 'b', 'a'}

#ob: both union and update discard duplicate items
#ob: union creates new set

{'c', 1, 2, 3, 'b', 'a'}
{'c', 1, 2, 3, 'b', 'a'}

In [30]:
# Keep ONLY the Duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)
print(x)#{'apple'}

# ob: intersection_update() keeps only the item that present in both sets


x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

#ob: intersection() produce a new set
#ob: intersection() keeps only the item that present in both sets

{'apple'}

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)
# ob: The symmetric_difference_update() method will keep only 
#     the elements that are NOT present in both sets.



x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)
#ob: The symmetric_difference() method will return a new set, 
#       that contains only the elements that are NOT 
#       present in both sets.

{'microsoft', 'cherry', 'banana', 'google'}
{'microsoft', 'cherry', 'banana', 'google'}

In [34]:
#more methods associated with set
# copy()	Returns a copy of the set
x = {"apple", "banana", "cherry"}
y= x.copy()
print(y)#{'cherry', 'apple', 'banana'}

{'cherry', 'apple', 'banana'}

In [42]:
# difference()	Returns a set containing the difference between two or more sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = {"banana"}
result= x.difference(y,z)
print(result)#{'cherry'}

# difference_update()	Removes the items in this set that are also included in another, specified set
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)#{'cherry', 'banana'}

# The difference_update() method removes the items that exist in both sets.

{'cherry'}
{'cherry', 'banana'}

In [45]:

# intersection()	Returns a set, that is the intersection of two other sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple","banana"}
z = {"apple"}
result= x.intersection(y,z)
print(result)#{'apple'}


# intersection_update()	Removes the items in this set that are not present in other, specified set(s)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple","banana"}
z = {"apple"}
x.intersection_update(y,z)
print(result)#{'apple'}

{'apple'}
{'apple'}

In [52]:
# isdisjoint()	Returns whether two sets have a intersection or not
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)#True

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)#False

True
False

In [50]:
# issubset()	Returns whether another set contains this set or not
x = {"apple", "banana", "cherry"}
y = {"apple"}

z = y.issubset(x)

print(z)#True


# issuperset()	Returns whether this set contains another set or not

x = {"apple", "banana", "cherry"}
y = {"apple"}

z = x.issuperset(y)

print(z)#True

True
True

In [5]:
# Python program to demonstrate
# Creation of Set in Python

# Creating a Set
set1 = set()
print("Initial blank Set: ")
print(set1)

# Creating a Set with
# the use of a String
set1 = set("babu")
print("\nSet with the use of String: ")
print(set1)

# Creating a Set with
# the use of Constructor
# (Using object to Store String)
String = 'babu'
set1 = set(String)
print("\nSet with the use of an Object: " )
print(set1)
#ob: duplicates not allowed

# Creating a Set with
# the use of a List
set1 = set(["babu","pallam"])
print("\nSet with the use of List: ")
print(set1)

Initial blank Set:
set()

Set with the use of String:
{'u', 'b', 'a'}

Set with the use of an Object:
{'u', 'b', 'a'}

Set with the use of List:
{'babu', 'pallam'}